<%- include("../partials/header") %>
    <%- include("../partials/form-head") %>
        <h2 class="text-center"> Add new comment to <%= campground.name %> </h2>
        <form class="text-left"  action="/campgrounds/<%= campground.id %>/comments" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" id="name" name="comment[text]" placeholder="text">
            </div>
            <button class="btn btn-primary btn-block">Submit</button>
        </form>
        <a href="/campgrounds">go back</a>
    <%- include("../partials/form-foot") %>
<%- include("../partials/footer") %>