<%- include("../partials/header") %>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div
        class="card bg-light shadow mb-3"
        style="width: 18rem; margin: 0 auto;"
      >
        <div class="card-body">
          <img
            src="<%= user.avatar %> "
            alt="..."
            class="img-thumbnail"
          />
          <h4 class="card-title mt-2 text-center"><%= `${user.username}` %></h4>
          <ul class="list-group">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Camps
              <span class="badge badge-primary badge-pill"><%= campgrounds.length %> </span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Comments
              <span class="badge badge-primary badge-pill"><%= comments.length %></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8 bg-light border shadow pt-2 rounded">
      <h3><strong><%= user.username %>'s</strong> campgrounds</h3>
      <% if (campgrounds.length === 0 ) { %>
      <p>You haven't post a campground</p>
      <a class="btn btn-primary btn-lg" href="/campgrounds/new"
        >Add new camps</a
      >
      <% } %> <% campgrounds.forEach(campground => {%>
      <div class="media mb-3">
        <a href="/campgrounds/<%= campground.id %>">
          <img
            id="campground-user-list"
            src="<%= campground.image%> "
            class="mr-3"
            alt="..."
          />
        </a>
        <div class="media-body">
          <h5 class="mt-0">
            <a href="/campgrounds/<%= campground.id %>"
              ><%= campground.name%></a
            >
            <span class="float-right">
              <a
                href="/campgrounds/<%= campground.id %>/edit"
                data-toggle="tooltip"
                data-placement="top"
                title="Edit campground"
                ><i class="fas fa-edit"></i
              ></a>
            </span>
          </h5>
          <%= campground.description %>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<%- include("../partials/footer") %>
